# Plugin base - located in another repository.

/src/RefineIt/Support

# Editors & IDEs

.idea/

# External

/src/composer.phar
/src/vendor

mysql-connector-java-5.1.26-bin.jar
mysql-connector-license.txt

